*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
  color: var(--text-color-primary);
}

:root{
  font-size: 62.5%;
  --swiper-navigation-size: 2.4rem !important;
  --swiper-theme-color: #ffffff !important;

  --text-color-primary: #ffffff;
  --text-color-acessButton: #0D3B66;
  --background-buttons: #ffffff;

  --background-home-primary:#F15156;
  --background-home-secondary: #E44449;
  --background-home-bodyNavigation: linear-gradient(#F36A6F, #E44449);

  --text-color-aboutPage: #000000;
  --text-color-aboutPage-h2: #0D3B66;
  --background-aboutPage: #ffffff;
  --background-aboutPage-div: #FDECED;
  --background-aboutPage-border-div: rgba(241, 81, 86, 0.3);
  --background-aboutPage-imgPetsFriends: linear-gradient(180deg, #FDECED 0%, rgba(253, 236, 237, 0) 100%);

  --background-animalsAvailable-primary: #F15156;
  --text-color-animalsAvailable-h2: #F4D35E; 
}

header{
  height: 8rem;

  background: var(--background-home-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  width: 12.5rem;
  height: 3.25rem;
  margin-left: 2rem;
}

header button{
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  border: none;
  border-radius: 8.33px;

  background: var(--background-buttons);

  cursor: pointer;
}

header button:hover{
  transform: scale(1.1);
}

header button img{
  width: 1.6rem;
  height: 1.6rem;
}

.navMenu{
  width: 100vw;
  height: 20.3rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  background: var(--background-home-secondary);
  border-radius: 0px 0px 20px 20px;

  position: absolute;
  left: 0;
}

.navMenu div{
  margin: .5rem 2.5rem 1.5rem 2.5rem;
  border: 1px solid #FFFFFF;
}

.navMenu a{
  margin-left: 2rem;
  margin-right: 2rem;

  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.98rem;
  letter-spacing: -0.02em;
  opacity: 0.5;
}

.navMenu a:hover{
  transform: scale(1.03);
  opacity: 1;
}

.homePage{
  width: 100vw;
  background: var(--background-home-primary);
}

.home{
  margin-left: 2rem;
}

.friendsInCity p{
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
}

.friendsInCity p span{
  font-weight: 800;
}

.textBody h1{
  width: 26.8rem;
  margin-top: 3.5rem;

  font-size: 4.4rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.02em;
}

.textBody p{
  display: none;
}

.containers{
  margin: 5.5rem auto 0;
  display: flex;
  justify-content: space-between;
}

.containerOne{
  width: 20vw;
  height: 25.5rem;
  background: var(--background-home-secondary);
  border-radius: 0 20px 20px 0;
}

.containerTwo{
  width: 27.9rem;
  height: 25.5rem;
  margin: 0 2rem;
  background: var(--background-home-bodyNavigation);
  border-radius: 20px;
  text-align: center;

  transition-duration: 700ms;
}

.containerTwo .imgPet{
  width: 23.9rem;
  height: 27.7rem;

  position: relative;
  bottom: 2.2rem;
  z-index: 0;
}

.containerTwo .acess{
  width: 25.6rem;
  height: 5.5rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: var(--text-color-acessButton);
  background: var(--background-buttons);

  border: none;
  border-radius: 8.66px;
  position: relative;
  bottom: 10rem;

  cursor: pointer;
}

.containerTwo .acess:hover{
  transform: scale(1.1);
}

.containerThree{
  width: 20vw;
  height: 25.5rem;
  background: var(--background-home-secondary);
  border-radius: 20px 0 0 20px;
}

.containerFour{
  display: none;
  background: var(--background-home-secondary);
}

.containerFive{
  display: none;
  background: var(--background-home-secondary);
}

.containerSix{
  display: none;
  background: var(--background-home-primary);
}

.aboutContent{
  min-width: 32rem;
  width: 75vw;
  max-width: 143.9rem;
  margin: 0 auto;

  background: var(--background-aboutPage);
  color: var(--text-color-aboutPage);
}

.aboutPage h2{
  margin: 7rem auto 0;


  font-size: 3rem;
  font-weight: 700;
  line-height: 110%;
  color: var(--text-color-aboutPage-h2);
}

.aboutPage .container{
  height: 19.7rem;

  margin: 2rem auto 0;
  padding: 3rem;

  text-align: left;

  background: var(--background-aboutPage-div);
  border: 1px solid var(--background-aboutPage-border-div);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.aboutPage .container p{
  width: 22.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.54rem;
  color: var(--text-color-aboutPage);
}

.aboutPage .container p span{
  font-weight: 700;
  color: var(--text-color-aboutPage);
}

.aboutContent div{
  margin: 3.6rem auto 0;
  text-align: center;
}

.aboutContent .imgPetsFriends{
  overflow: hidden;
}

.aboutContent .imgPetsFriends img{
  width: 100vw;
}

.animalsAvailable{
  min-width: 32rem;
  width: 75vw;
  margin: 2rem auto;
  padding: 6rem 3.2rem;
  background: var(--background-home-primary);

  border-radius: 20px;
}

.animalsAvailableTitle h2{
  font-weight: 700;
  font-size: 3.0rem;
  line-height: 2.7rem;

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--text-color-animalsAvailable-h2);
}

.animalsAvailableText p{
  margin-top: 4rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;

  letter-spacing: -0.02em;
}

.buttonAcessAnimalsAvailable .acess{
  width: 25.6rem;
  height: 5.5rem;

  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: var(--text-color-acessButton);
  background: var(--background-buttons);

  border: none;
  border-radius: 8.66px;

  cursor: pointer;
}

.buttonAcessAnimalsAvailable .acess:hover{
  transform: scale(1.1);
}

.swiper {
  width: 26rem;
  height: 24rem;
}

.swiper-slide{
  margin-top: 3.1rem;

  border-radius: 18.29px;
}

.swiper-slide div{
  background: var(--text-color-primary);
  width: 25.6rem;
  height: 17.4rem;
  border-radius: 18.2px;
}

.swiper-slide img{
  width: 25.6rem;
  margin: 0 auto;
}

.swiper-slide p{
  padding-top: 1.33rem;
  padding-bottom: 1.36rem;


  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;

  text-align: center;

  color: var(--text-color-acessButton);
}

.swiper-button-prev, .swiper-button-next{
  display: none !important;
}
/*

.slidesAnimalsAvailable{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




*/
.hide{
  display: none;
}

@media (min-width: 680px){
  header{
    width: 77rem;
    max-width: 77rem;

    margin-left: 11.2rem;

    background: none;
    position: absolute;
    top: 9.3rem;
    z-index: 1;
  }

  header .logo{
    width: 17.7rem;
    height: 4.61rem;
    margin-left: 0;
  }
  
  .navMenu{
    width: 50rem;
    height: 52.8rem;
    padding-top: 15rem;

    position: absolute;
    top: -2rem;
    left: 68rem;
    z-index: -1;

    gap: 1.6rem;
  }

  .navMenu div{ 
    display: none;
  }

  .navMenu a{
    margin-left: 0;

    font-size: 3.6rem;
    font-weight: 700;
    line-height: 3.96rem;
  }

  .homePage{
    width: fit-content;
    padding-top: 3rem;
    padding-left: 11.2rem;
    display: flex;
    gap: 10.4rem;
  }

  header button{
    width: 7.2rem;
    height: 7.2rem;

    border: none;
    border-radius: 15px;
  
    cursor: pointer;
  }
  
  header button img{
    width: 2.4rem;
    height: 2.4rem;
  }

  main{
    margin-left: 0;
  }

  .friendsInCity{
    margin-top: 20rem;

    display: flex;
    align-items: center;
    gap: .8rem;

    margin-bottom: 7rem;
    margin-left: 0;
  }

  .friendsInCity p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.4rem;
  }

  .textBody h1{
    width: 51.9rem;
    margin-top: 7rem;
  
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 7.92rem;
  }

  .textBody p{
    width: 40.7rem;
    margin-top: 8rem;
    margin-bottom: 12.2rem;

    display: block;

    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.4rem;
  }

  .containers{
    display: grid;
    grid-template-areas: "B A"
    "C A"
    "D E";
    gap: 2rem;
    margin-top: 3rem;
  }
  

  .containers div:nth-child(1){
    grid-area: A;
  }
  
  .containers div:nth-child(2){
    grid-area: B;
  }
  
  .containers div:nth-child(3){
    grid-area: C;
  }
  
  .containers div:nth-child(4){
    grid-area: D;
  }
  
  .containers div:nth-child(5){
    grid-area: E;
  }

  .containers div:nth-child(6){
    grid-area: B;
  }

  .containerOne{
    width: 11.2rem;
    height: 71.2rem;
    border-radius: 20px 0 0 20px;
    right: 0rem;
  }

  .containerTwo{
    width: 59.2rem;
    height: 54.1rem;
    margin: 0;
  }

  .containerTwo .imgPet{
    width: 46.4rem;
    height: 54.1rem;
    bottom: 0;
  }

  .containerTwo .acess{
    width: 49.2rem;
    height: 7.2rem;
    font-size: 2rem;
    line-height: 3.4rem;

    top: 5.5rem;
    border-radius: 20px;
  }

  .containerThree{
    width: 59.2rem;

    height: 15.2rem;
    border-radius: 20px;
    right: 0rem;
  }

  .containerFour{
    display: block;

    width: 59.2rem;
    height: 5.8rem;

    border-radius: 20px 20px 0 0;
  }

  .containerFive{
    display: block;

    width: 11.2rem;
    height: 5.8rem;

    border-radius: 20px 0 0 0;
  }

  .containerSix{
    display: block;

    width: 59.2rem;
    height: 54.1rem;
    background: var(--background-home-secondary);
    border-radius: 20px;
    text-align: center;
  }
  
  .aboutPage{
    width: 100vw;
  }

  .aboutContent{
    width: fit-content;

    margin: 0 11.2rem 0 2.4rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 5.3rem;
    overflow: visible;
  }
  
  .containersAbout{
    display: grid;
    grid-template-areas: "A B"
    "C C";
    gap: 3.2rem;
  }
    
  
  .containersAbout div:nth-child(1){
    grid-area: A;
  }

  .containersAbout div:nth-child(2){
    grid-area: B;
  }

  .containersAbout div:nth-child(3){
    grid-area: C;
  }
  
  .aboutContent h2{
    width: 54.5rem;

    margin-top: 9.8rem;
    margin-left: 0;
    font-size: 4.8rem;
    line-height: 5.28rem;

    text-align: left;
  }

  .aboutContent .container{
    width: 28rem;
    margin: 0 auto;
  }

  .aboutContent .Filter{
    width: 59.2rem;
  }
  
  .aboutContent .Filter p{
    width: 47.19rem;
  }

  .aboutContent .imgPetsFriends{
    width: 65.8rem;
    height: 78.5rem;

    overflow: visible;
    margin-left: 0;

    border-radius: 20px;
    background: var(--background-aboutPage-imgPetsFriends); 
  }

  .aboutContent .imgPetsFriends img{
    width: 65.8rem;
    padding: 8.7rem 0.1rem 5.2rem;
  }

  .animalsAvailable{
    width: 121.6rem;
    margin: 2rem 11.2rem;
    padding: 6.9rem 10.4rem;
  }

  .animalsAvailableIntro{
    display: flex;
    gap: 10.2rem;

    align-items: center;
  }
  
  .animalsAvailableTitle h2{
    width: 41.6rem;
    font-size: 4.8rem;
    line-height: 4.3rem;
  
    text-align: left;
  }
  
  .animalsAvailableText p{
    width: 49rem;
  
    margin-top: 0;

    font-size: 2rem;
    line-height: 2.2rem;
  }
  
  .animalsAvailableSlider{
    margin-top: 4.7rem;

    display: flex;
    gap: 18.5rem;

    align-items: center;
  }

  .buttonAcessAnimalsAvailable{
    margin-top: 0;
  } 

  .buttonAcessAnimalsAvailable .acess{
    width: 23.1rem;
  
    font-size: 2rem;
    line-height: 3.4rem;
  
    border-radius: 20px;
  }
  
  .buttonAcessAnimalsAvailable .acess:hover{
    transform: scale(1.1);
  }

  .swiper {
    width: 60rem;
    height: 35rem;
  }
  
  .swiper-slide{
    display: flex !important;
    align-items: center;
    flex-direction: column;
  }
  
  .swiper-slide div{
    width: 38.4rem;
    height: 26.1rem;
    border-radius: 27.43px;
  }

  .swiper-slide img{
    width: 38.4rem;
    margin: 0 auto;
  }

  .swiper-slide p{
    padding-top: 2rem;
    padding-bottom: 1.9rem;
  
  
    font-weight: 700;
    font-size: 2.46rem;
    line-height: 2.96rem;
  }

  .swiper-button-prev, .swiper-button-next{
    display: flex !important;

    width: 7.2rem !important;
    height: 7.2rem !important;

    background: #ffffff;
    color: black !important;

    border: 1px solid wheat;
    border-radius: 15px;
  }

  .swiper-button-disabled{
    opacity: 1 !important;
    background: transparent;
    color: white !important;
  }

/*
  .slidesAnimalsAvailable .container{
    width: 38.4rem;
  
    border-radius: 27.43px;
  }
  
  .slidesAnimalsAvailable .container img{
    width: 38.4rem;
  }
  
  .slidesAnimalsAvailable div p{
    padding-top: 2rem;
    padding-bottom: 1.9rem;
  
  
    font-weight: 700;
    font-size: 2.46rem;
    line-height: 2.96rem;
  }
*/
}