*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
  color: var(--text-color-home);
}

:root{
  font-size: 62.5%;
  --background-home-primary:#F15156;
  --background-home-secondary: #E44449;
  --text-color-home: #ffffff;
  --text-color-home-acessButton: #0D3B66;
  --background-home-bodyNavigation: linear-gradient(#F36A6F, #E44449);
  --background-home-buttons: #ffffff;

  --text-color-aboutPage: #000000;
  --text-color-aboutPage-h2: #0D3B66;
  --background-aboutPage: #ffffff;
  --background-div-aboutPage: #FDECED;
  --background-border-div-aboutPage: rgba(241, 81, 86, 0.3);
  --background-imgPetsFriends: linear-gradient(180deg, #FDECED 0%, rgba(253, 236, 237, 0) 100%);
}

header{
  height: 8rem;

  background: var(--background-home-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  width: 12.5rem;
  height: 3.25rem;
  margin-left: 2rem;
}

header button{
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  border: none;
  border-radius: 8.33px;

  background: var(--background-home-buttons);

  cursor: pointer;
}

header button:hover{
  transform: scale(1.1);
  opacity: .92;
}

header button img{
  width: 1.6rem;
  height: 1.6rem;
}

.navMenu{
  width: 100vw;
  height: 20.3rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  background: var(--background-home-secondary);
  border-radius: 0px 0px 20px 20px;

  position: absolute;
  left: 0;
}

.navMenu div{
  margin: .5rem 2.5rem 1.5rem 2.5rem;
  border: 1px solid #FFFFFF;
}

.navMenu a{
  margin-left: 2rem;
  margin-right: 2rem;

  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.98rem;
  letter-spacing: -0.02em;
  opacity: 0.5;
}

.navMenu a:hover{
  transform: scale(1.03);
  opacity: 1;
}

.homePage{
  padding-left: 2rem;
  background: var(--background-home-primary);
}

.friendsInCity p{
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
}

.friendsInCity p span{
  font-weight: 800;
}

.textBody h1{
  width: 26.8rem;
  margin-top: 3.5rem;

  font-size: 4.4rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -0.02em;
}

.textBody p{
  display: none;
}

.containers{
  margin-left: -2rem;
  margin-top: 5.5rem;
  display: flex;
  justify-content: space-between;
}

.containerOne{
  width: 20vw;
  height: 25.5rem;
  background: var(--background-home-secondary);
  border-radius: 0 20px 20px 0;
}

.containerTwo{
  width: 27.9rem;
  height: 25.5rem;
  margin: 0 2rem;
  background: var(--background-home-bodyNavigation);
  border-radius: 20px;
  text-align: center;

  transition-duration: 700ms;
}

.containerTwo .imgPet{
  width: 23.9rem;
  height: 27.7rem;

  position: relative;
  bottom: 2.2rem;
  z-index: 0;
}

.containerTwo .acess{
  width: 23.9rem;
  height: 5.5rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: var(--text-color-home-acessButton);
  background: var(--background-home-buttons);

  border: none;
  border-radius: 8.66px;
  position: relative;
  bottom: 10rem;

  cursor: pointer;
}

.containerTwo .acess:hover{
  opacity: .92;
}

.containerThree{
  width: 20vw;
  height: 25.5rem;
  background: var(--background-home-secondary);
  border-radius: 20px 0 0 20px;
}

.containerFour{
  display: none;
  background: var(--background-home-secondary);
}

.containerFive{
  display: none;
  background: var(--background-home-secondary);
}

.containerSix{
  display: none;
  background: var(--background-home-primary);
}

.aboutPage{
  max-width: 143.9rem;
  background: var(--background-aboutPage);
  color: var(--text-color-aboutPage);
}

.aboutPage h2{
  width: 32rem;

  margin: 7rem auto 0;


  font-size: 3rem;
  font-weight: 700;
  line-height: 110%;
  color: var(--text-color-aboutPage-h2);
}

.aboutPage .container{
  width: 32rem;
  height: 19.7rem;

  margin: 2rem auto 0;
  padding: 3rem;

  text-align: left;

  background: var(--background-div-aboutPage);
  border: 1px solid var(--background-border-div-aboutPage);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.aboutPage .container p{
  width: 22.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 15.4px;
  color: var(--text-color-aboutPage);
}

.aboutPage .container p span{
  font-weight: 700;
  color: var(--text-color-aboutPage);
}

.aboutPage div{
  margin: 3.6rem auto 0;
  text-align: center;
}

.aboutPage .imgPetsFriends{
  overflow: hidden;
}

.aboutPage .imgPetsFriends img{
  width: 58.4rem;
}

.hide{
  display: none;
}

@media (min-width: 680px){
  header{
    width: 73rem;
    max-width: 73rem;

    margin-left: 11.2rem;

    background: none;
    position: absolute;
    top: 9.3rem;
    z-index: 1;
  }

  header .logo{
    width: 17.7rem;
    height: 4.61rem;
    margin-left: 0;
  }
  
  .navMenu{
    width: 50rem;
    height: 52.8rem;
    padding-top: 15rem;

    position: absolute;
    top: -2rem;
    left: 68rem;
    z-index: -1;

    gap: 1.6rem;
  }

  .navMenu div{ 
    display: none;
  }

  .navMenu a{
    margin-left: 0;

    font-size: 3.6rem;
    font-weight: 700;
    line-height: 3.96rem;
  }

  .homePage{
    width: fit-content;
    padding-top: 3rem;
    padding-left: 11.2rem;
    display: flex;
    gap: 10.4rem;
  }

  header button{
    width: 7.2rem;
    height: 7.2rem;

    border: none;
    border-radius: 15px;
  
    cursor: pointer;
  }
  
  header button img{
    width: 2.4rem;
    height: 2.4rem;
  }

  main{
    margin-left: 0;
  }

  .friendsInCity{
    margin-top: 20rem;

    display: flex;
    align-items: center;
    gap: .8rem;

    margin-bottom: 7rem;
    margin-left: 0;
  }

  .friendsInCity p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.4rem;
  }

  .textBody h1{
    width: 51.9rem;
    margin-top: 7rem;
  
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 7.92rem;
  }

  .textBody p{
    width: 40.7rem;
    margin-top: 8rem;
    margin-bottom: 12.2rem;

    display: block;

    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.4rem;
  }

  .containers{
    display: grid;
    grid-template-areas: "B A"
    "C A"
    "D E";
    gap: 2rem;
    margin-top: 3rem;
  }
  

  .containers div:nth-child(1){
    grid-area: A;
  }
  
  .containers div:nth-child(2){
    grid-area: B;
  }
  
  .containers div:nth-child(3){
    grid-area: C;
  }
  
  .containers div:nth-child(4){
    grid-area: D;
  }
  
  .containers div:nth-child(5){
    grid-area: E;
  }

  .containers div:nth-child(6){
    grid-area: B;
  }

  .containerOne{
    width: 11.2rem;
    height: 71.2rem;
    border-radius: 20px 0 0 20px;
    right: 0rem;
  }

  .containerTwo{
    width: 59.2rem;
    height: 54.1rem;
    margin: 0;
  }

  .containerTwo .imgPet{
    width: 46.4rem;
    height: 54.1rem;
    bottom: 0;
  }

  .containerTwo .acess{
    width: 49.2rem;
    height: 7.2rem;
    font-size: 2rem;
    line-height: 3.4rem;

    top: 5.5rem;
    border-radius: 20px;
  }

  .containerThree{
    width: 59.2rem;

    height: 15.2rem;
    border-radius: 20px;
    right: 0rem;
  }

  .containerFour{
    display: block;

    width: 59.2rem;
    height: 5.8rem;

    border-radius: 20px 20px 0 0;
  }

  .containerFive{
    display: block;

    width: 11.2rem;
    height: 5.8rem;

    border-radius: 20px 0 0 0;
  }

  .containerSix{
    display: block;

    width: 59.2rem;
    height: 54.1rem;
    background: var(--background-home-secondary);
    border-radius: 20px;
    text-align: center;
  }
  
  .aboutPage{
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    gap: 5.6rem;
  }
  
  .containersAbout{
    display: grid;
    grid-template-areas: "A B"
    "C C";
    gap: 3.2rem;
    margin-top: 3.9rem;
  }
    
  
  .containersAbout div:nth-child(1){
    grid-area: A;
  }

  .containersAbout div:nth-child(2){
    grid-area: B;
  }

  .containersAbout div:nth-child(3){
    grid-area: C;
  }
  
  .aboutPage h2{
    width: 54.5rem;

    margin-top: 9.8rem;
    margin-left: 0;
    font-size: 4.8rem;
    line-height: 5.28rem;

    text-align: left;
  }

  .aboutPage .container{
    width: 28rem;
    margin: 0 auto;
  }

  .aboutPage .Filter{
    width: 59.2rem;
  }
  
  .aboutPage .Filter p{
    width: 47.19rem;
  }

  .aboutPage .imgPetsFriends{
    width: 65.8rem;
    height: 78.5rem;

    margin-left: 2.3rem;

    border-radius: 20px;
    background: var(--background-imgPetsFriends); 
  }

  .aboutPage .imgPetsFriends img{
    width: 65.8rem;
    padding: 8.7rem 0.1rem 5.2rem;
  }
}