*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
  color: var(--text-color-primary);
  font-weight: 400;
  letter-spacing: -0.02em;
}

:root{
  font-size: 62.5%;
  --swiper-navigation-size: 2.4rem !important;
  --swiper-theme-color: #ffffff !important;

  --text-color-primary: #ffffff;
  --text-color-acessButton: #0D3B66;
  --background-buttons: #ffffff;

  --background-home-primary:#F15156;
  --background-home-secondary: #E44449;
  --background-home-bodyNavigation: linear-gradient(#F36A6F, #E44449);

  --text-color-aboutPage: #000000;
  --text-color-aboutPage-h2: #0D3B66;
  --background-aboutPage: #ffffff;
  --background-aboutPage-div: #FDECED;
  --background-aboutPage-border-div: rgba(241, 81, 86, 0.3);
  --background-aboutPage-imgPetsFriends: linear-gradient(180deg, #FDECED 0%, rgba(253, 236, 237, 0) 100%);

  --background-animalsAvailable-primary: #F15156;
  --text-color-animalsAvailable-h2: #F4D35E; 

  --background-teamMember: #FDECED;
  --background-contact: #0D3B66;
  --text-color-aboutFindAFriendAndContact: #0D3B66;
  --text-color-aboutFindAFriendAndContact-h2: #ffffff;
  --text-color-aboutFindAFriendAndContact-secondary: #F4D35E;

  --text-color-footer: #ffffff;
}

header{
  height: 8rem;

  background: var(--background-home-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  width: 12.5rem;
  height: 3.25rem;
  margin-left: 2rem;
}

header button{
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  border: none;
  border-radius: 8.33px;

  background: var(--background-buttons);

  cursor: pointer;
}

header button:hover{
  transform: scale(1.1);
}

header button img{
  width: 1.6rem;
  height: 1.6rem;
}

.navMenu{
  width: 100vw;
  height: 20.3rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  background: var(--background-home-secondary);
  border-radius: 0px 0px 20px 20px;

  position: absolute;
  left: 0;
}

.navMenu div{
  margin: .5rem 2.5rem 1.5rem 2.5rem;
  border: 1px solid #FFFFFF;
}

.navMenu a{
  margin-left: 2rem;
  margin-right: 2rem;

  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.98rem;
  opacity: 0.5;
}

.navMenu a:hover{
  transform: scale(1.03);
  opacity: 1;
}

.homePage{
  width: 100%;
  background: var(--background-home-primary);
}

.home{
  margin-left: 2rem;
}

.friendsInCity p{
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.68rem;
}

.friendsInCity p span{
  font-weight: 800;
}

.textBody h1{
  width: 26.8rem;
  margin-top: 3.5rem;

  font-size: 4.4rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.textBody p{
  display: none;
}

.containers{
  margin: 5.5rem auto 0;
  display: flex;
  justify-content: space-between;
}

.containerOne{
  width: 20vw;
  height: 25.5rem;
  background: var(--background-home-secondary);
  border-radius: 0 20px 20px 0;
}

.containerTwo{
  width: 27.9rem;
  height: 25.5rem;
  margin: 0 2rem;
  background: var(--background-home-bodyNavigation);
  border-radius: 20px;
  text-align: center;

  transition-duration: 700ms;
}

.containerTwo .imgPet{
  width: 23.9rem;
  height: 27.7rem;

  position: relative;
  bottom: 2.2rem;
  z-index: 0;
}

.containerTwo .acess{
  width: 25.6rem;
  height: 5.5rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: var(--text-color-acessButton);
  background: var(--background-buttons);

  border: none;
  border-radius: 8.66px;
  position: relative;
  bottom: 10rem;

  cursor: pointer;
}

.containerTwo .acess:hover{
  transform: scale(1.1);
}

.containerThree{
  width: 20vw;
  height: 25.5rem;
  background: var(--background-home-secondary);
  border-radius: 20px 0 0 20px;
}

.containerFour{
  display: none;
  background: var(--background-home-secondary);
}

.containerFive{
  display: none;
  background: var(--background-home-secondary);
}

.containerSix{
  display: none;
  background: var(--background-home-primary);
}

.aboutContent{
  min-width: 32rem;
  width: 75vw;
  max-width: 143.9rem;
  margin: 0 auto;

  background: var(--background-aboutPage);
  color: var(--text-color-aboutPage);
}

.aboutPage h2{
  margin: 7rem auto 0;


  font-size: 3rem;
  font-weight: 700;
  line-height: 110%;
  color: var(--text-color-aboutPage-h2);
}

.aboutPage .container{
  height: 19.7rem;

  margin: 2rem auto 0;
  padding: 3rem;

  text-align: left;

  background: var(--background-aboutPage-div);
  border: 1px solid var(--background-aboutPage-border-div);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.aboutPage .container p{
  width: 22.3rem;
  font-size: 1.4rem;
  line-height: 1.54rem;
  color: var(--text-color-aboutPage);
}

.aboutPage .container p span{
  font-weight: 700;
  color: var(--text-color-aboutPage);
}

.aboutContent div{
  margin: 3.6rem auto 0;
  text-align: center;
}

.aboutContent .imgPetsFriends img{
  width: 100%;
}

.animalsAvailable{
  min-width: 32rem;
  width: 75vw;
  margin: 2rem auto;
  padding: 6rem 3.2rem;
  background: var(--background-home-primary);

  border-radius: 20px;
}

.animalsAvailableTitle h2{
  font-weight: 700;
  font-size: 3.0rem;
  line-height: 2.7rem;

  text-align: center;

  color: var(--text-color-animalsAvailable-h2);
}

.animalsAvailableText p{
  margin-top: 4rem;

  font-size: 1.6rem;
  line-height: 1.8rem;
}

.buttonAcessAnimalsAvailable{
  text-align: center;
}

.buttonAcessAnimalsAvailable .acess{
  width: 25.6rem;
  height: 5.5rem;

  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: var(--text-color-acessButton);
  background: var(--background-buttons);

  border: none;
  border-radius: 8.66px;

  cursor: pointer;
}

.buttonAcessAnimalsAvailable .acess:hover{
  transform: scale(1.1);
}

.containersAnimalsAvailable {
  width: 26rem;
  height: 24rem;
}

.pets{
  margin-top: 3.1rem;

  border-radius: 18.29px;
}

.pets div{
  width: 25.6rem;
  height: 17.4rem;
  border-radius: 18.2px;

  background: var(--text-color-primary);
}

.pets img{
  width: 25.6rem;
  margin: 0 auto;
}

.pets p{
  padding-top: 1.33rem;
  padding-bottom: 1.36rem;

  font-size: 1.6rem;
  line-height: 1.9rem;

  text-align: center;

  color: var(--text-color-acessButton);
}

.swiper-button-prev, .swiper-button-next{
  display: none !important;
}

.aboutFindAFriendAndContact{
  width: 100%;
}

.textAboutFindAFriend{
  margin: 3rem 2rem 0;
}

.textAboutFindAFriend h2{
  width: 20rem;

  font-size: 3rem;
  font-weight: 700;
  line-height: 33px;

  color: var(--text-color-aboutFindAFriendAndContact);
}

.textAboutFindAFriend p{
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 22px;

  color: var(--text-color-aboutFindAFriendAndContact);
}

.team{
  margin: 6rem 2rem 0 2rem !important;
}

.teamMembers{
  gap: 1rem;
}

.teamMember{
  width: 27.8rem !important;
}

.teamMember div{
  width: 27.8rem;
  height: 28.4rem;
  border-radius: 20px;

  background: var(--background-teamMember);
}

.teamMember img{
  width: 25.8rem;
  margin: 1rem;
}

.teamMember p{
  margin-top: 1.2rem;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.16rem;

  text-align: center;

  color: var(--text-color-aboutFindAFriendAndContact);
}

.teamMember p span{
  font-weight: 400;

  color: var(--text-color-aboutFindAFriendAndContact);
}

.contact{
  min-width: 32rem;
  background: var(--background-contact);
  margin: 5.3rem 2rem 3.4rem;
  padding-bottom: 7.2rem;
  border-radius: 10px;
}

.imgContact{
  text-align: right;
}

.contact img{
  width: 32rem;
  margin-top: -1.3rem;
  margin-left: auto;
  margin-right: auto;
}

.contact h2{
  width: 15.1rem;

  margin-top: -5rem;
  margin-left: 3.2rem;
  margin-bottom: 2.1rem;

  font-size: 3rem;
  font-weight: 700;
  line-height: 3.3rem;
}

.sendEmail{
  margin-left: 3.2rem;

  display: flex;
  align-items: center;
}

.sendEmail img{
  margin-right: .9rem;
  width: 1.66rem;
}

.sendEmail p{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.54rem;

  color: var(--text-color-aboutFindAFriendAndContact-secondary);
}

footer{
  background-color: var(--background-home-primary);
  text-align: center;
  padding: 4rem 0 5rem;
}

footer img{
  margin-bottom: 4.8rem;
}

.footerLogoFull{
  display: none;
}

.textFooter{
  display: flex;
  gap: 2rem;
  justify-content: center;
}

footer p{
  font-size: 1.5rem;
  line-height: 1.54rem;
}

.hide{
  display: none;
}

@media (min-width: 680px){
  header{
    min-width: 134rem;
    width: 100%;

    display: flex;
    background: none;
    position: absolute;
    top: 9.3rem;
    z-index: 1;
  }

  header .logo{
    width: 17.7rem;
    height: 4.61rem;
    margin-left: 8rem;
  }
  
  .navMenu{
    width: 50rem;
    height: 52.8rem;
    padding-top: 15rem;

    position: absolute;
    top: -2rem;
    left: 82rem;
    z-index: -1;

    gap: 1.6rem;
  }

  .navMenu div{ 
    display: none;
  }

  .navMenu a{
    margin-left: 0;

    font-size: 3.6rem;
    font-weight: 700;
    line-height: 3.96rem;
  }

  .homePage{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-left: 7rem;
    display: flex;
    justify-content: space-between;
    gap: 4.8rem;
    overflow: hidden;
  }

  header button{
    width: 7.2rem;
    height: 7.2rem;

    margin-right: 61rem;
    border: none;
    border-radius: 15px;
  
    cursor: pointer;
  }
  
  header button img{
    width: 2.4rem;
    height: 2.4rem;
  }

  main{
    margin-left: 0;
  }

  .friendsInCity{
    margin-top: 20rem;

    display: flex;
    align-items: center;
    gap: .8rem;

    margin-bottom: 7rem;
    margin-left: 0;
  }

  .friendsInCity p{
    font-size: 1.6rem;
    line-height: 3.4rem;
  }

  .textBody h1{
    width: 51.9rem;
    margin-top: 7rem;
  
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 7.92rem;
  }

  .textBody p{
    width: 40.7rem;
    margin-top: 8rem;
    margin-bottom: 12.2rem;

    display: block;

    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.4rem;
  }

  .containers{
    display: grid;
    grid-template-areas: "B A"
    "C A"
    "D E";
    gap: 2rem;
    margin: 3rem 0 0;
  }
  

  .containers div:nth-child(1){
    grid-area: A;
  }
  
  .containers div:nth-child(2){
    grid-area: B;
  }
  
  .containers div:nth-child(3){
    grid-area: C;
  }
  
  .containers div:nth-child(4){
    grid-area: D;
  }
  
  .containers div:nth-child(5){
    grid-area: E;
  }

  .containers div:nth-child(6){
    grid-area: B;
  }

  .containerOne{
    width: 11.2rem;
    height: 71.2rem;
    border-radius: 20px 0 0 20px;
    right: 0rem;
  }

  .containerTwo{
    width: 59.2rem;
    height: 54.1rem;
    margin: 0;
  }

  .containerTwo .imgPet{
    width: 46.4rem;
    height: 54.1rem;
    bottom: 0;
  }

  .containerTwo .acess{
    width: 49.2rem;
    height: 7.2rem;
    font-size: 2rem;
    line-height: 3.4rem;

    top: 5.5rem;
    border-radius: 20px;
  }

  .containerThree{
    width: 59.2rem;

    height: 15.2rem;
    border-radius: 20px;
    right: 0rem;
  }

  .containerFour{
    display: block;

    width: 59.2rem;
    height: 5.8rem;

    border-radius: 20px 20px 0 0;
  }

  .containerFive{
    display: block;

    width: 11.2rem;
    height: 5.8rem;

    border-radius: 20px 0 0 0;
  }

  .containerSix{
    display: block;

    width: 59.2rem;
    height: 54.1rem;
    background: var(--background-home-secondary);
    border-radius: 20px;
    text-align: center;
  }
  
  .aboutPage{
    width: 100%;
  }

  .aboutContent{
    width: 100%;
    min-width: 121.6rem;
    max-width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5.4rem;
    overflow: hidden;
  }
  
  .aboutContent div {
    margin: 3.6rem 0 0;
  }

  .aboutContent .about {
    margin: 0 10rem 0 0;
  }

  .containersAbout{
    display: grid;
    grid-template-areas: "A B"
    "C C";
    gap: 3.2rem;
  }
    
  
  .containersAbout div:nth-child(1){
    grid-area: A;
  }

  .containersAbout div:nth-child(2){
    grid-area: B;
  }

  .containersAbout div:nth-child(3){
    grid-area: C;
  }
  
  .aboutContent h2{
    width: 54.5rem;

    margin-top: 9.8rem;
    margin-left: 0;
    font-size: 4.8rem;
    line-height: 5.28rem;

    text-align: left;
  }

  .aboutContent .container{
    width: 28rem;
    margin: 0 auto;
  }

  .aboutContent .Filter{
    width: 59.2rem;
  }
  
  .aboutContent .Filter p{
    width: 47.19rem;
  }

  .aboutContent .imgPetsFriends{
    width: 60rem;
    height: 78.5rem;

    margin-left: 2.4rem;
    
    border-radius: 20px;
    background: var(--background-aboutPage-imgPetsFriends); 
  }

  .aboutContent .imgPetsFriends img{
    padding: 8.7rem 0.1rem 5.2rem;
  }

  .animalsAvailable{
    width: 98%;
    min-width: 121.6rem;
    padding: 6.9rem 10.4rem;
  }

  .animalsAvailableIntro{
    display: flex;
    gap: 10.2rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .animalsAvailableTitle h2{
    width: 41.6rem;
    font-size: 4.8rem;
    line-height: 4.3rem;
  
    text-align: left;
  }
  
  .animalsAvailableText p{
    width: 49rem;
  
    margin-top: 0;

    font-size: 2rem;
    line-height: 2.2rem;
  }
  
  .animalsAvailableSlider{
    margin-top: 4.7rem;

    display: flex;
    gap: 18.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .buttonAcessAnimalsAvailable{
    margin-top: 0;
    text-align: left;
  } 

  .buttonAcessAnimalsAvailable .acess{
    width: 23.1rem;
  
    font-size: 2rem;
    line-height: 3.4rem;
  
    border-radius: 20px;
  }

  .containersAnimalsAvailable {
    width: 60rem;
    height: 35rem;
  }
  
  .pets{
    display: flex !important;
    align-items: center;
    flex-direction: column;
  }
  
  .pets div{
    width: 38.4rem;
    height: 26.1rem;
    border-radius: 27.43px;
  }

  .pets img{
    width: 38.4rem;
    margin: 0 auto;
  }

  .pets p{
    padding-top: 2rem;
    padding-bottom: 1.9rem;
  
  
    font-weight: 700;
    font-size: 2.46rem;
    line-height: 2.96rem;
  }
  
  .swiper, swiper-container {
    margin-right: 0 !important;
  }

  .swiper-button-prev, .swiper-button-next{
    display: flex !important;

    width: 7.2rem !important;
    height: 7.2rem !important;

    background: #ffffff;
    color: black !important;

    border: 1px solid wheat;
    border-radius: 15px;
  }

  .swiper-button-disabled{
    opacity: 1 !important;
    background: transparent;
    color: white !important;
  }
}